@charset "utf-8";
@import "../node_modules/bulma/bulma.sass";


// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$color: #7d9cce;

%post {
  background-color: $color;
  font-family: 'Comfortaa', cursive;
}
.hero-body {
  background-image: url("/img/splash.jpg");
  font-family: 'Comfortaa', cursive;

}
#submit {
  background-color: darken($color, 30%);
  color: whitesmoke;
}
#form {
  padding-top: 5em;
}
.message-body, .previous {
  @extend %post;
}
h3 {
  font-family: 'Comfortaa', cursive;
}
.hidden {
  display: none
}
.menu-list a:hover {
  background-color: lighten($color, 20%);
}
#req {
  color: red;
}